parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: meludico
    database_user: root
    database_password: '989487'
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: 79d55586298b8e6f585a73475bbe7dfb688dcee7
    database_path: null
